@font-face {
  font-family: Gloucester;
  src: url(Gloucester-MT-Extra.ttf);
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
:root {
  --card-width: 210px;
  --card-p-width: -210px;
  --card-height: 290px;

  --card-bottom: 30%;
  --card-left: 45%;

  --animation-speed: 0.5s;
}

/* header */
header {
  width: 95%;
  max-width: 1500px;
  height: 50px;
  margin: auto;
  align-items: center;
  display: flex;
  position: relative;
  top: 25px;
  justify-content: space-between;
  z-index: 100;
}
header img {
  width: 200px;
}
header a {
  margin-right: 40px;
}
.nav-show {
  display: flex;
}
header menu {
  display: none;
  color: white;
  font-size: 32px;
}
header nav a.active {
  width: fit-content;
  border-bottom: 3px solid rgba(255, 193, 7, 1);
  padding-bottom: 5px;
}

/*  */
/* Carousel */
/*  */
.C-carousel {
  width: 100%;
  min-width: 300px;
  max-width: 1600px;
  height: 100vh;
  min-height: 700px;
  max-height: 1050px;
  overflow: hidden;
  margin: auto;
  margin-top: -50px;
  position: relative;
}
.C-carousel .list .item {
  z-index: 0;
  position: absolute;
  inset: 0 0 0 0;
}
.C-carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
.C-carousel .list .content {
  color: white;
  position: absolute;
  bottom: 20%;
  left: 5%;
}
.C-carousel .list .content .line {
  width: 60px;
  height: 3px;
  background-color: white;
}
.C-carousel .list .content .country {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 10px 0;
  font-size: 24px;
}
.C-carousel .list .content .name {
  font-size: 98px;
  width: 600px;
  font-family: Gloucester;
}
.C-carousel .list .content .dis {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  width: 500px;
  margin: 10px 0;
}
.list .content .bot_ {
  display: flex;
  gap: 25px;
}
.list .content .bot_ .favourite-icon {
  background: rgba(255, 193, 7, 1);
  border-radius: 100%;
  padding: 12px 15px;
}
.bot_ .favourite-icon i {
  color: white;
}
.list .content .bot_ button {
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
}

/*  */
/* card */
/*  */
.C-card {
  position: absolute;
  bottom: var(--card-bottom);
  left: var(--card-left);
  width: max-content;
  z-index: 10;
  display: flex;
  gap: 15px;
}
.C-card .item {
  width: var(--card-width);
  height: var(--card-height);
  flex-shrink: 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.75);
}
.C-card .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}
.C-card .item .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}
.C-card .item .content .line {
  width: 25px;
  height: 2px;
  background-color: white;
}
.C-card .item .content .country {
  margin: 10px 0;
}
.C-card .item .content .title {
  font-family: Gloucester;
  font-size: 28px;
  width: 75%;
  text-transform: uppercase;
}

/*  */
/* bottom set */
/*  */
.bottom-set {
  width: -webkit-fill-available;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 45%;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

/* Arrows */
.arrows {
  display: flex;
  gap: 20px;
}
.arrows button {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 42px;
  border-radius: 100%;
  width: 90px;
  height: 90px;
}

/* line */
.bottom-set .line {
  width: 100%;
  flex: 1;
  height: 1px;
  background-color: white;
}
.bottom-set .line .color-line {
  width: 0;
  height: 100%;
  background: rgba(255, 193, 7, 1);
  transition: 1s;
}

/* text */
.bottom-set .num {
  font-family: Gloucester;
  font-size: 72px;
  margin: 0;
}
.C-carousel .list .item:nth-child(1) {
  z-index: 1;
}

/*  */
/* next click */
/*  */
.C-carousel.next .list .item:nth-child(1) .line,
.C-carousel.next .list .item:nth-child(1) .country,
.C-carousel.next .list .item:nth-child(1) .name,
.C-carousel.next .list .item:nth-child(1) .dis,
.C-carousel.next .list .item:nth-child(1) .bot_ {
  transform: translateX(500px) translateY(250px);
  filter: blur(10px);
  opacity: 0;
  animation: showContent var(--animation-speed) linear forwards;
}
@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
  }
}
.C-carousel.next .list .item:nth-last-child(1) .line,
.C-carousel.next .list .item:nth-last-child(1) .country,
.C-carousel.next .list .item:nth-last-child(1) .name,
.C-carousel.next .list .item:nth-last-child(1) .dis,
.C-carousel.next .list .item:nth-last-child(1) .bot_ {
  transform: translate(0);
  filter: blur(0);
  opacity: 1;
  animation: showContents var(--animation-speed) linear forwards;
}
@keyframes showContents {
  to {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-500px);
  }
}
.C-carousel.next .list .item:nth-child(1) img {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  object-fit: cover;
  left: var(--card-left);
  bottom: var(--card-bottom);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.75);
  animation: showImage var(--animation-speed) linear forwards;
}
@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}
.C-carousel.next .C-card .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showcard var(--animation-speed) linear forwards;
}
@keyframes showcard {
  to {
    width: var(--card-width);
  }
}
.C-carousel.next .C-card {
  transform: translateX(calc(var(--card-width) + 15px));
  animation: movecard var(--animation-speed) linear forwards;
}
@keyframes movecard {
  to {
    transform: translateX(0);
  }
}

/*  */
/* prev click */
/*  */
.C-carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}
.C-carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.75);
  animation: previmage var(--animation-speed) linear forwards;
}
@keyframes previmage {
  to {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 25px;
    left: var(--card-left);
    bottom: var(--card-bottom);
  }
}
.C-carousel.prev .C-card {
  transform: translateX(calc(var(--card-p-width) - 15px));
  animation: movecard-prev var(--animation-speed) linear forwards;
}
@keyframes movecard-prev {
  to {
    transform: translateX(0);
  }
}
.C-carousel.prev .C-card .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
}
.C-carousel.prev .list .item:nth-child(2) .line,
.C-carousel.prev .list .item:nth-child(2) .country,
.C-carousel.prev .list .item:nth-child(2) .name,
.C-carousel.prev .list .item:nth-child(2) .dis,
.C-carousel.prev .list .item:nth-child(2) .bot_ {
  animation: contentOut var(--animation-speed) linear forwards;
}
@keyframes contentOut {
  to {
    transform: translateX(500px) translateY(250px);
    filter: blur(10px);
    opacity: 0;
  }
}
.C-carousel.prev .list .item:nth-child(1) .line,
.C-carousel.prev .list .item:nth-child(1) .country,
.C-carousel.prev .list .item:nth-child(1) .name,
.C-carousel.prev .list .item:nth-child(1) .dis,
.C-carousel.prev .list .item:nth-child(1) .bot_ {
  transform: translateX(-500px);
  filter: blur(10px);
  opacity: 0;
  animation: contentOuts var(--animation-speed) linear forwards;
}
@keyframes contentOuts {
  to {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}
.C-carousel.next .arrows button,
.C-carousel.prev .arrows button {
  pointer-events: none;
}

/*  */
/* screen max-width Tv */
/*  */
@media screen and (max-width: 1200px) {
  .C-carousel .list .content {
    top: 10%;
  }
  .C-carousel .list .content .name {
    width: 40%;
    font-size: 70px;
  }
  .C-carousel .list .content .dis {
    width: 40%;
  }
}

/*  */
/* screen max-width Tab */
/*  */

@media screen and (max-width: 850px) {
  .C-carousel .list .content .name {
    font-size: 70px;
  }
}

@media screen and (max-width: 625px) {
  header nav {
    display: none;
    width: -webkit-fill-available;
    position: absolute;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    top: 50px;
    gap: 10px;
    font-size: 24px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
  }
  header nav a {
    color: black;
  }
  header menu {
    display: block;
  }
}

/*  */
/* screen max-width mobile */
/*  */
@media screen and (max-width: 500px) {
  :root {
    --card-bottom: 20px;
  }
  .C-carousel {
    height: 120vh;
  }
  .C-carousel .list .item .content {
    top: 100px;
    left: 0px;
    padding: 5px;
    transform: translateX(0);
  }
  .C-carousel .list .content .country {
    font-size: 20px;
  }
  .C-carousel .list .content .name {
    font-size: 50px;
    width: 100%;
  }
  .C-carousel .list .content .dis {
    width: 100%;
  }
  .bottom-set {
    left: 10px;
    flex-direction: column;
    width: fit-content;
  }
  .bottom-set .line {
    display: none;
  }
  .arrows {
    gap: 5px;
  }
  .arrows button {
    font-size: 24px;
    width: 50px;
    height: 50px;
  }
}
